*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 1260px;
    background: purple;
}

.content{
    width: 1260px;
    
}

/*Estilo do menu*/
header{
    width: 80%;
    margin-left: 127px;
    margin-top: 2%; 
    display: inline-block;
    
}
nav{    
    height: 10%;
    margin: 0 auto;
    text-align: end;
    padding-bottom: 20px;
    
}
nav > a{
    text-decoration: none;
    color: #a8a7ab;
    margin: 5px;
    vertical-align: center;
    
}
nav > img{
    padding: 12px;
    margin-right: 600px;
    
}

/*Estilo do banner*/
#banner{
    height: 300px;
    
    background-image: url("../assets/images/image-web-3-desktop.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    
}
/*Estilo do formulario ao lado do banner*/
.form{
    background-color: #00001A;
    color: white;
    height:calc(100% + 68%);
    width: 29%;
    float: right;
}
/*Estilo artigo*/
    article{
        
    }
    article > h2{
        padding-top: 30px;
        width: 300px;
        font-size: 50px; 
        display: inline-block;
        
    }
    article > p{
        display: inline-block;
        margin-right: -4;
        width: 400px;
        vertical-align: top;
        font-size: 30px;
    }
    #bottom{
        
    }
    .texto{
        display: inline-block;
        width: 270px;
    }
    .imagem{
        display: inline-block;
    }
    .imagem > img{
        width: 62px; 
        height: 77px;
        
    }
   
 
/*Classe de centralização*/
.center{
    width: 80%;
    margin: 0 auto; 
  
}